<div class="pagination">
  <div class="pagination__items-per-page">
    <span>Items per page:</span>
    <select id="items-per-page-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4" selected>4</option>
      <option value="all">All</option>
    </select>
  </div>
  <div class="pagination__status">
    <span>Showing 1-4 of 14</span>
  </div>

  <div class="pagination__pages">
    <button id="first-page-button" disabled>|<</button>
    <button id="previous-page-button" disabled><</button>
    <button id="next-page-button">></button>
    <button id="last-page-button">>|</button>
  </div>
</div>
