.header__container {
  background-color: black;
  display: flex;
  width: 100%;
}


.header__logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header__logo > img {
  object-fit: contain;
  height: 50px;
}
.header__logo > p {
  display: flex;
  padding: 5px;
  color: white;
  font-size: 12px;
  margin-top: 15px;
}
