<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="left-container">
        <h4>Upload Document</h4>
        <form class="form-inline">
          <div class="form-group">
            <input type="file" class="form-control mb-2 mr-sm-2" />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              placeholder="Application"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              placeholder="Keywords"
            />
          </div>
          <button type="submit" class="btn btn-success">Upload</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="right-container">
        <a href="/">Search Documents</a>
        <div class="example-text">
            <p>
          Example: Consignment Number: C2021/100<br />Example(App) : Enter all
          of the following: <br>Lodgement: 12345678, LodgementVersion: 1,
          ConsignmentNumber: C2021/100
        </p>
        </div>
        
      </div>
    </div>
  </div>
</div>
