<div class="search__container">
    <div class="search__title">
        Search Document
    </div>
    <div class="search__box">
        <div class="search__left">
            <div class="search__input">
                <input type="text">
            </div>
            <div class="search__btn">
                <button>Search</button>
            </div>
            <div class="search__checkbox">
                <input type="checkbox" name="search1">
                <label for="search1">Wildcard Search</label>
            </div>
            <div class="upload">
                <a href="/upload">Upload Document</a>
            </div>
        </div>
        <div class="query">
            <a href="">How do I write a search query?</a>
        </div>
    </div>
</div>